.login-wrapper {
  margin: 0 auto;
  width: 600px;


}


h2 {
  margin-left: 50%;
  margin-right: 50%;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

button {
  margin-left: 50%;
  margin-right: 50%;
  width: 15%;

}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
  margin-right: 50%;
  margin-left: 50%;
}
